@using System.Collections
@model CustomLogic.AomObject

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var fields = Model.AomFieldObjects.ToList();
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Edit @Html.DisplayFor(model=>model.AomMeta.Name)</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        @Html.HiddenFor(model => model.AomMetaId)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        
        @for (var counter = 0; counter < fields.Count(); counter++)
        {
            <div class="form-group">
                <div class="control-label col-md-2">@Html.DisplayFor(x => fields[counter].AomFieldMeta.Name)</div>
                <div class="col-md-10">

                    @Html.HiddenFor(modelItem => fields[counter].AomFieldMetaId)
                    @Html.HiddenFor(modelItem => fields[counter].AomObjectId)

                    @if (!fields[counter].AomFieldMeta.Name.Contains("Id"))
                    {
                        @Html.TextBoxFor(modelItem => fields[counter].Value, null, new { @class = "form-control" })
                    }
                    else
                    {



                        if (ViewData[fields[counter].AomFieldMeta.Name] != null)
                        {
                            @Html.DropDownList(fields[counter].AomFieldMeta.Name, new SelectList((IEnumerable)ViewData[fields[counter].AomFieldMeta.Name], "Id", "Name"), new { htmlAttributes = new { @class = "form-control" } })
                        }
                        else
                        {
                            <div class="control-label col-md-2">No objects exist or relationsship not set up view data not found for @Html.Raw(fields[counter].AomFieldMeta.Name)</div>
                        }
                    }
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
